<div class="container">
    <div class="row">
        <div>
            <h4 *ngIf="activeOrders.length==0">There is no active order at the moment.</h4>
            <div class="card" *ngIf="activeOrders.length>0">
                <div class="card-header">
                    <h3>Active Order</h3>
                </div>
                <div class="card-body">

                    <div class="table table-striped">
                        <thead>
                            <tr>
                                <th>Sr. No.</th>
                                <th>Order Id</th>
                                <th>Customer Name</th>
                                <th>Date</th>
                                <th>Vehicle Number</th>
                                <th>Service Details</th>
                            </tr>

                        </thead>

                        <tbody>
                            <tr *ngFor="let activeorder of activeOrders; let index=index">
                                <td>{{index+1}}</td>
                                <td>{{activeorder['Order Id']}}</td>
                                <td>{{activeorder['Customer Name']}}</td>
                                <td>{{activeorder['Date']}}</td>
                                <td>{{activeorder['Vehicle Number']}}</td>
                                <td><button (click)="activeOrder(activeorder)" style="margin-left: 10px;" class="btn btn-warning btn-sm">View Details</button></td>

                            </tr>
                        </tbody>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>