<div class="container md-col-4">
    <h3>List of Services</h3>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Service No.</th>
                <th scope="col">Sr. No.</th>
                <th scope="col">Srvice No.</th>
                <th scope="col">Service Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of services; let i=index">
                <th scope="row">1</th>
                <td>{{service.serviceId}}</td>
                <td> {{service.serviceName}}</td>
                <td>{{service.price}} </td>
            </tr>
        </tbody>
    </table>