<div class="container md-col-4">
    <table class="table">
        <caption>List of Services</caption>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Srvice No.</th>
                <th scope="col">Service Name</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>{{serviceId}}</td>
                <td> {{serviceName}}</td>
                <td>{{price}} </td>
            </tr>
        </tbody>
    </table>
</div>